body{
    background-color: rgb(31, 92, 72);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

h1{
    color: aquamarine;
    font-weight: bolder;
    font-size: 8vh;
}

.container{
    display: flex;
    flex-direction: column;
    min-width: 64vh;
    min-height: 64vh;
    background-color: black;
}

.column{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    max-height: 96vh;
}

.squares{
    flex: 1 1 5vh;
    background-color: rgb(85, 170, 142);
}

button{
    width: 10vh;
    height: 5vh;
    margin-top: 5vh ;
    background-color: aquamarine;
    border: 0px solid transparent;
}

button:hover{
    background-color: rgb(85, 170, 142);
}
