body{
    background-color: rgb(31, 92, 72);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    min-width: 96vh;
    min-height: 96vh;
    background-color: black;
}

.column{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    max-height: 96vh;
}

.squares{
    flex: 1 1 6vh;
    background-color: rgb(85, 170, 142);
}

button{
    width: 15vh;
    height: 5vh;
    margin: 15vh ;

}
